<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script>
	window.onload = function() {
		var parent = document.getElementById("test-div");
		var child = document.getElementById("p1");
		//删除子节点
		//parent.removeChild(child);
		
		//常用的方法 不用ById获取
		child.parentNode.removeChild(child);
		//删除文本节点
		//child.removeChild(child.firstChild);
		
		
	}
</script>
</head>
<body>
	<div id="test-div">
		<p id="p1">一段话</p>
		<p id="p2">一段话</p>
	</div>
</body>
</html>