<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script>
	window.onload = function() {
		var elementNode = document.createElement("p");
		var textNode = document.createTextNode("一段来自JS的话");
		elementNode.appendChild(textNode);
		
		var divNode = document.getElementById("test-div");
		//divNode.appendChild(elementNode);
		
		//加在P2之前
		var child = document.getElementById("p2");
		divNode.insertBefore(elementNode, child);
	}
</script>
</head>
<body>
	<div id="test-div">
		<p id="p1">一段话</p>
		<p id="p2">一段话</p>
		
	</div>
</body>
</html>